.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.bait {
  font-weight: bold;
  font-style: italic;
}

.weight {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.place {
  text-align: center;
}