.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.locationName {
  font-weight: bold;
  font-style: italic;
  font-size: 1.8em;
}

.infos {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.locationMarker {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30vh;
  width: 80vw;
}