.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.addButton {
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-color: blue;
  color: white;
}

.progress {
  position: absolute;
  left: calc(50% - 20px);
  top: 50%;
}

.scrollList {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 100px;
}